.block-advantages {
    &__container{
        display: flex;
        flex-direction: column;
        row-gap: rem(24);

        @include media-breakpoint-up(lg) {
            row-gap: rem(50);
		}
    }
        
    &__cards {
        display: grid;
        // grid-template-columns: repeat(2, 1fr);
        
    
		@include media-breakpoint-up(lg) {
            grid-template-columns: repeat(2, 1fr);
            row-gap: rem(50);
            column-gap: rem(55);
		}
		@include media-breakpoint-down(md) {
            grid-template-columns: repeat(1, 1fr);
            gap: rem(16);
		}
    }

    &__button {
        margin: auto;
        width: 100%;
        max-width: rem(362);

        @include media-breakpoint-up(md) {
            width: rem(362);
        }
    }
}