// Базовые опции inputoв
@mixin base-input {
	$b: &;
	display: block;
	width: 100%;
	height: rem(71);
    padding: rem(23) rem(33);
	color: $color-dark;
	font-size: rem(15);
	background-color: transparent;
	border: 1px solid $color-gray-3;
	border-radius: rem(4);
	@include defaultTransition(border-color, color);

	&:-webkit-autofill,
	&:-webkit-autofill:hover,
	&:-webkit-autofill:focus,
	&:-webkit-autofill:active {
		-webkit-box-shadow: 0 0 0px 1000px transparent inset;
		transition: background-color 5000s ease-in-out 0s;
	}
	&:-webkit-textfield-decoration-container {
		display: none; /* or whatever styling you want */
	}

	@include media-breakpoint-down(md) {
		height: rem(53);
		font-size: rem(20);
        padding: rem(8) rem(24);
	}

	@include defaultTransition(border-color);

	&:focus {
		outline: none;
	}

	&:hover {
		&:not(:disabled) {
			border-color: rgba($color-dark, 1);
		}
	}

	&:focus {
		-webkit-text-fill-color: rgba($color-dark, 1);
	}

	&::placeholder {
		opacity: 1 !important;
	}

	&:focus::placeholder {
		color: transparent;
		opacity: 0 !important;
	}

	&:disabled {
		border-color: transparent;
		cursor: not-allowed;
		opacity: 0.65;
	}

	&::-webkit-input-placeholder,
	&:-moz-placeholder,
	&::-ms-input-placeholder,
	&::placeholder {
		color: rgba($color-black, 0.4);
		@include defaultTransition(opacity, color);
	}

	&:-ms-input-placeholder {
		color: rgba($color-black, 0.4);
		opacity: 1;
		@include defaultTransition(opacity);
	}

	// Отдельно для mozilla
	&::-moz-placeholder {
		color: rgba($color-black, 0.4);
		opacity: 1;
		@include defaultTransition(opacity);
	}

	&::-ms-clear {
		display: none;
	}

	&.parsley-error {
		border-color: $color-error !important;
	}

	&::-webkit-input-placeholder {
		opacity: 1;
		transition: opacity 0.3s ease;
	}
	&::-moz-placeholder {
		opacity: 1;
		transition: opacity 0.3s ease;
	}
	&:-moz-placeholder {
		opacity: 1;
		transition: opacity 0.3s ease;
	}
	&:-ms-input-placeholder {
		opacity: 1;
		transition: opacity 0.3s ease;
	}
	&:focus::-webkit-input-placeholder {
		opacity: 0;
		transition: opacity 0.3s ease;
	}
	&:focus::-moz-placeholder {
		opacity: 0;
		transition: opacity 0.3s ease;
	}
	&:focus:-moz-placeholder {
		opacity: 0;
		transition: opacity 0.3s ease;
	}
	&:focus:-ms-input-placeholder {
		opacity: 0;
		transition: opacity 0.3s ease;
	}
}
