<div class="field{% if field.type == 'hidden' %} field--hidden{% endif %} {% if field.theme %}field--{{ field.theme }}{% endif %}">
	<div class="field__control">
		{% if field.input %}
			{% view '@field-input' with {
				field: field
			} %}
		{% elseif field.search %}
			{% view '@field-search' with {
				field: field
			} %}
		{% elseif field.textarea %}
			{% view '@field-textarea' with {
				field: field
			} %}
		{% elseif field.select %}
			{% view '@field-select' with {
				field: field
			} %}
		{% elseif field.checkbox or field.radio %}
			{% view '@field-checkbox' with {
				field: field
			} %}
		{% elseif field.datepicker %}
			{% view '@field-datepicker' with {
				field: field
			} %}
		{% endif %}
	</div>
</div>
