{% extends "layouts::_page.twig" %}

{% block content %}

	<!--<editor-fold desc="Typography">-->

	<div class="py-24">
		<div class="container">
			{# <h1 class="mb-24">Heading H1</h1>
			<h2 class="mb-24">Heading H2</h2>
			<h3 class="mb-24">Heading H3</h3>
			<h4 class="mb-24">Heading H4</h4> #}
			{# <h5 class="mb-24">Heading H5</h5>
			<h6 class="mb-24">Heading H6</h6> #}
			{# <p class="text-lead mb-24">Lead</p>
			<p class="large-body mb-24">large_body</p> #}
			{# <p class="text-body mb-24">Body</p>
			<p class="text-small mb-24">Small_body</p> #}
			{#<p class="text-label mb-24">Label</p> #}
		</div>
	</div>

	<!--</editor-fold>-->

{% endblock %}
