.form {
	$root: &;

	&--mob-layout {
		.form {

			&__container {
				display: block;
			}

			&__title,
			&__text {
				max-width: none;
			}

			&__content {
				width: 100%;
				max-width: rem(753);
				padding-right: 0;
				margin: auto;
			}

			&__field {
				width: 100%;
			}
		}
	}

	&__container {
		@include media-breakpoint-up(lg) {
			display: flex;
			align-items: flex-start;
			justify-content: space-between;
		}
	}

	&__title {
		text-align: center;

		@include media-breakpoint-up(md) {
			max-width: rem(400);
		}

		.is-sent & {
			display: none;
		}
	}

	&__text {
		color: rgba($color-black, 0.5);

		@include media-breakpoint-up(md) {
			max-width: rem(240);
		}
	}

	&__content {
		@include media-breakpoint-up(lg) {
			width: calc(66.6666% - #{rem(4)});
			padding-right: rem(24);
		}

		#{$root}.is-sent & {
			display: none;
		}
	}


	&__field {
		margin-bottom: rem(24);

		@include media-breakpoint-up(lg) {
			margin-bottom: rem(40);
		}
	}

	&__agreement {
		margin-top: rem(24);
	}

	&__submit {
		margin: 0 auto;
		margin-top: rem(38);
		width: max-content;
		
		.button {
			padding: 0 rem(92);

			@include media-breakpoint-down(md) {
				height: rem(46);
			}
			@include media-breakpoint-down(sm) {
				padding: 0;
			}
		}

		@include media-breakpoint-down(sm) {
			width: 100%;
		}
	}

	&__answer {
		display: grid		;
		text-align: center;
		margin: auto;
		width: 100%;
		margin-right: auto;
		min-width: 100%;
		font-weight: 600;
		line-height: 1.5;

		@include media-breakpoint-up(sm) {
			font-size: rem(18);
		}
		@include media-breakpoint-up(md) {
			font-size: rem(32);
			max-width: rem(500);
		}
		@include media-breakpoint-up(lg) {
			font-size: rem(48);
			max-width: initial;
		}

		

		

		& > :last-child {
			margin-bottom: 0;
		}

		& > :first-child {
			color: $color-green;
		}
	}
}
