.menu {
	$root: &;


	z-index: 99;
    position: fixed;
    top: 0;
	left: 0;
    bottom: 0;
    width: 100%;
    transition: transform .3s;
    border: 0;
    transform: translateX(-100%);
    height: 100vh;

	@include media-breakpoint-down(md) {
		display: block;
	}

	&__container {
		height: 100%;
		z-index: 1;
		background-color: $color-white;
		padding-top: rem(102);

		@include media-breakpoint-down(md) {
			padding-top: rem(80);
		}
	}

	&__content {
		position: relative;
		padding: rem(32) rem(0) rem(32);
		height: 100%;
		overflow-y: auto;

		@include media-breakpoint-only(md) {
		padding: rem(32) rem(0) rem(32);
		}

		@include media-breakpoint-down(sm) {
			padding: 0 rem(0) rem(8);
			height: 100%;
		}

		.ps__rail-y:before {
			background: transparent;
			top: rem(16);
			bottom: rem(16);
		}

		.ps__thumb-y {
			right: rem(8);
			top: rem(16);
		}
	}

	&__links {
		margin-top: rem(24);
		margin-left: rem(-32);

		@include media-breakpoint-up(md) {
			display: none;
		}

		.link-action__text {
			@include h4;
			font-weight: 600;
		}

		.link-action .icon {
			margin-right: rem(8);
		}
	}

	&__link {
		position: relative;
		display: flex;
        align-items: center;
        justify-content: space-between;
		color: $color-black;
		background-color: transparent;
		border: 0;
		padding: 0;
		cursor: pointer;
		@include defaultTransition(color);
        padding-bottom: rem(8);
        padding-top: rem(8);
        width: 100%;

		@include media-breakpoint-down(md) {
			padding: rem(8) 0;
		}

		@include media-breakpoint-down(sm) {
			padding: rem(8) 0;
		}


		&:hover {
			color: $color-blue;
		}

		&--active {
			cursor: default;
			color: $color-blue;
		}

		&:after {
			position: absolute;
			content: "";
			width: 0%;
			height: 1px;
			background-color: rgba($color-black, 0.1);
			bottom: 0;
			right: 0;
			left: 0;
			transition: width 0.5s linear;
		}

		&.h2 {
			font-weight: 500;
		}
	}


	&__wrapper {
		padding: rem(84) rem(0) rem(84);
		height: 100%;


		@include media-breakpoint-down(md) {
			@media all and (orientation:landscape) {
				padding-top: rem(40);
				padding-bottom: rem(32);
			}
		}

		@include media-breakpoint-down(sm) {
			padding: rem(32) rem(16) rem(32);
		}	
	}

	&__txt {
		position: relative;
		display: inline-flex;
		width: 100%;
		font-weight: 500;
		line-height: 30px;
		color: $color-black;
	}

	&__list {
		overflow: auto;
		position: relative;
		overflow-y: auto;
		height: auto;

		@include media-breakpoint-only(md) {
			padding: rem(0) rem(40) rem(0);
		}

		@include media-breakpoint-down(sm) {
			padding: 0 rem(16) rem(0);
			height: auto;
		}

		#{$root}__item {
			&:first-of-type {
				#{$root}__link {
					padding-top: 0;

					@include media-breakpoint-down(sm) {
						padding-top: rem(24);
					}
				}
			}
		}
	}

	&.is-active {
		transform: none;
		opacity: 1;
	}
}
