<div class="card-advantage">
    {% if card.title %}
        <div class="card-advantage__title">
            {{card.title}}
        </div>
    {% endif %}
    {% if card.text %}
        <div class="card-advantage__text">
            {{card.text}}
        </div>
    {% endif %}
</div>